@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* pembukaan section */
/* pembuka jenis font */

@font-face {
    src: url(../font/Lato/Lato-Black.ttf);
    font-family: lato;
}


body {
    margin: 0px;
    padding: 0px;
    font-family: montserrat;
    background-color: white;
    width: 100%;

}

.container {
    width: 90%;
    margin: auto;
}

/* header */
.navbar {
    width: 100%;

    margin-top: 40px;

}

.logo {
    font-size: 15px;
    line-height: 10px;
    width: 100%;
    margin-left: 60px;
    display: block;
    /* or 73% */


    color: #856D6D;
}

.btn-navbar {
    margin-left: 58%;
    margin-top: -50px;
}

.btn-download {
    font-size: 15px;
    font-weight: 500;
    color: #856D6D;
    float: left;
    margin-left: 20px;
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #856D6D;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 0;
    transition: 0.5s;
}

.btn-download:hover {
    background-color: thistle;
    border: none;
    margin-top: -5px;
}


.text-download {
    color: #856D6D;
    font-size: 17px;
}

.btn-discover {
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #856D6D;
    box-sizing: border-box;
    border-radius: 10px;
}


.btn-discover:hover {
    background-color: thistle;
    border: none;
}


.text-discover {
    color: #856D6D;
    font-size: 18px;
}

/* Content */
/* 
#header .content {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    grid-template-rows: 1fr;
} */

.text-content {
    width: 500px;
    height: 100px;
    margin-top: 160px;
    font-size: 35px;
    line-height: 50px;
    /* or 104% */


    color: #856D6D;

}

.text-content-deskripsi {
    width: 625px;
    height: 108px;
    font-size: 18px;
    line-height: 27px;

    color: #7F7E7E;

}

.text-content-2 {
    width: 400px;
    margin-top: 10px;
    height: 72px;
    font-size: 40px;
    line-height: 72px;
    /* identical to box height */


    color: #856D6D;
}


.text-content-deskripsi-2 {
    width: 625px;
    height: 160px;
    left: 94px;
    top: 576px;


    font-size: 18px;
    line-height: 40px;
    /* or 222% */


    color: #7F7E7E;

}

.img-jumbotron {
    position: absolute;
    width: 290px;
    height: 435px;
    left: 870px;
    top: 195px;

    background: url(img-jumbotron.jpg);
}

.table {
    color: gray;
    font-size: 15px;
    line-height: 30px;
}

td.td-1 {
    width: 200px;
    line-height: 30px;
    margin-left: 200px;

}

.icon {
    width: 97%;
    height: 190px;
    padding: 20px;
    margin-top: 40px;
    background: #C4C4C4;
}

.icon::after {
    content: "";
    display: block;
    width: 350px;
    position: absolute;
    height: 2px;
    margin-top: -20px;
    background-color: gray;
    left: 470px
}

.section-logo {
    margin-left: 20px;
    margin-top: 80px;
}

.icon-medsos {
    margin-left: 20px;
    transition: 0.5s;
    padding: 5px;
}


.text-icon {
    font-size: 35px;
    float: right;
    margin-top: 0px;
    line-height: 40px;
    /* or 222% */


    color: #7F7E7E;

}

/* section experience */

.text-experience {

    margin-top: 80px;
    width: 400px;
    height: 72px;
    font-size: 40px;
    line-height: 72px;
    color: #856D6D;
}

.decoration-experience {
    width: 0px;
    height: 718px;
    border: 1px solid #856D6D;
}

.elipse {
    width: 21px;
    height: 21px;
}

.text-experience-1 {
    width: 304px;
    font-size: 40px;
    line-height: 70px;
    color: #856D6D;
    margin-top: -640px;
    margin-left: 55px;

}

.text-experience-custom {
    margin-top: 230px;
    margin-left: 110px;
}

.text-skill {
    margin-left: 55px;
    margin-top: 0px;
    color: #856D6D;
    font-size: 15px;
}

.text-custom-frontend {
    margin-left: 70px;
    width: 366px;
    margin-top: -50px;
    margin-left: 110px;
    height: 26px;
    font-size: 20px;
    line-height: 43px;

    color: #856D6D;
}

.text-skill-frontend {
    margin-left: 110px;
    margin-top: 0px;
    color: #856D6D;
    font-size: 15px;
}

.text-experience-2 {
    margin-left: 70px;
    width: 366px;
    margin-top: -50px;
    margin-left: 55px;
    height: 26px;
    font-size: 20px;
    line-height: 43px;

    color: #856D6D;

}


.text-description {
    position: absolute;
    width: 842px;
    height: 43px;
    left: 244px;
    top: 1312px;
    font-size: 24px;
    line-height: 36px;

    color: #7F7E7E;

}



.text-description-7 {
    margin-left: 110px;
    width: 842px;
    height: 43px;
    font-size: 24px;
    line-height: 36px;

    color: #7F7E7E;
}

/* close experience */


/* open education */
.section-education {
    padding-top: 20px;
    width: 100%;
    height: 914px;
    margin-top: 200px;
    background: #C4C4C4;
}

.text-education {
    margin-left: 20px;
    width: 300px;
    font-size: 40px;
    color: #856D6D;

}

.decoration-education {

    width: 0px;
    height: 718px;
    left: 203px;
    top: 150px;
    margin border: 1px solid #856D6D;
}

.text-education-1 {
    width: 366px;
    height: 26px;
    margin-left: 55px;
    font-size: 40px;
    margin-top: -650px;

    color: #856D6D;

}

.text-education-frontend {
    margin-top: 150px;
}

.text-education-2 {
    margin-left: 55px;
    width: 366px;
    height: 26px;
    font-size: 29px;
    color: #856D6D;
}

.text-education-3 {
    margin-left: 55px;
    width: 444px;
    height: 26px;
    font-size: 17px;
    color: #7F7E7E;

}

.text-description-education {
    margin-left: 55px;
    width: 842px;
    height: 43px;
    font-size: 24px;
    color: #7F7E7E;
}

.text-education-frontend {
    margin-left: 55px;
    width: 115px;
    height: 72px;
    font-size: 48px;
    color: #856D6D;

}

.text-education-4 {

    width: 444px;
    height: 26px;
    margin-left: 55px;
    font-size: 29px;
    color: #856D6D;
    margin-top: -40px;

}

.text-education-5 {
    width: 252px;
    height: 26px;
    font-size: 17px;
    margin-left: 55px;
    color: #7F7E7E;

}

.text-description-education-frontend {

    width: 842px;
    height: 43px;
    margin-left: 55px;
    font-size: 24px;
    color: #7F7E7E;

}

/* close experience */



/* open reference */
.text-reference {
    margin-left: 50px;
    margin-top: 40px;
    width: 240px;
    height: 72px;
    font-size: 40px;
    line-height: 72px;
    color: #856D6D;

}

.text-description-reference {
    width: 842px;
    height: 254px;
    font-size: 24px;
    margin-left: 100px;
    margin-top: 80px;
    color: #7F7E7E;

}

.reference {
    margin-top: -70px;
    margin-left: 55px;
}

.text-description-reference-2 {
    width: 158px;
    height: 97px;
    margin-left: 55px;
    font-size: 24px;
    font-weight: 600;
    color: #856D6D;

}

.text-description-reference-3 {
    width: 400px;
    height: 97px;
    margin-top: -90px;
    margin-left: 55px;
    font-size: 18px;
    color: #7F7E7E;

}

/* close experience */


/* open portofolio */
.text-section-portofolio {
    width: 226px;
    height: 72px;
    font-size: 40px;
    margin-top: 140px;
    color: #856D6D;
}

.btn-portofolio {
    margin-top: -110px;
    float: right;
    width: 261px;
    height: 70px;
    background-color: transparent;
    border: 1px solid #856D6D;
    box-sizing: border-box;
    border-radius: 10px;
}

.btn-portofolio:hover {
    background-color: thistle;
    border: none;
}

.btn-text-portofolio {
    width: 209px;
    height: 36px;
    margin-left: 20px;
    font-size: 24px;
    line-height: 36px;
    color: #856D6D;

}


.card-section {
    width: 100%;
    margin-left: 50px;
    float: left;
}

.card-portofolio {


    width: 250px;
    height: 276px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    float: left;
    margin-left: 20px;
    background: #C4C4C4;
}

.card-portofolio:hover {
    background-color: thistle;
}

.text-portofolio {

    width: 158px;
    height: 97px;
    left: 20px;
    top: 175px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: #856D6D;
}

.img-portofolio {

    width: 236px;
    height: 177px;
    left: 15px;
    border-radius: 10px;
}


.text-portofolio-2 {

    width: 158px;
    height: 97px;
    left: 20px;
    top: 175px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: #856D6D;
}

.img-portofolio-2 {

    width: 236px;
    height: 177px;
    left: 15px;
    border-radius: 10px;
}


.text-portofolio-3 {

    width: 158px;
    height: 97px;
    left: 20px;
    top: 175px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: #856D6D;
}

.img-portofolio-3 {

    width: 236px;
    height: 177px;
    left: 15px;
    border-radius: 10px;
}



.text-portofolio-4 {

    width: 158px;
    height: 97px;
    left: 20px;
    top: 175px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: #856D6D;
}

.img-portofolio-4 {

    width: 236px;
    height: 177px;
    left: 15px;
    border-radius: 10px;
}


/* close portofolio */


/* open extra skill */
.text-extra-skill {
    margin-top: -150px;
    margin-left: 0px;
    width: 236px;
    height: 72px;
    font-size: 40px;
    color: #856D6D;
}

.elipse-extra-skill {
    margin-top: 720px;
    margin-left: 70px;
    width: 158px;
    height: 158px;
    border-radius: 100px;
    border: 2px solid #856D6D;
    box-sizing: border-box;
}

.text-creative {
    width: 134px;
    height: 54px;
    margin-top: 50px;
    margin-left: 15px;
    font-weight: 600;
    font-size: 25px;
    color: #856D6D;

}

.text-extra-skill-persen {
    width: 74px;
    margin-left: 30px;
    margin-top: 130px;
    height: 54px;
    font-size: 36px;
    color: #856D6D;

}

.text-logic {
    margin-top: 50px;
    margin-left: 45px;
    width: 134px;
    height: 54px;
    left: 50px;
    top: 130px;
    font-weight: 600;
    font-size: 25px;
    line-height: 54px;
    color: #856D6D;

}


.elipse-extra-skill-2 {
    width: 158px;
    height: 158px;
    margin-top: -235px;
    margin-left: 200px;
    border-radius: 100px;
    border: 2px solid #856D6D;
    box-sizing: border-box;
}

.text-extra-skill-persen-2 {
    margin-left: 40px;
    margin-top: 40px;
    width: 74px;
    height: 54px;
    font-size: 36px;
    line-height: 54px;
    color: #856D6D;

}

.awards {
    margin-top: 20px;
}

.rectangle-extra-skill {
    margin-left: 570px;
    margin-top: -285px;
    width: 250px;
    height: 349px;
    left: 703px;
    top: 4180px;
    text-align: center;
    padding-top: 20px;
    background: #C4C4C4;
}

.img-cup {

    width: 83px;
    height: 83px;
    left: 80px;
    top: 40px;
}

.text-cup {
    text-align: center;
    width: 30px;
    margin-left: 110px;
    height: 54px;
    font-size: 36px;
    line-height: 54px;
    color: #856D6D;

}

.text-cup-description {
    margin-left: -20px;
    width: 300px;
    height: 40px;
    font-size: 18px;
    line-height: 27px;
    color: #856D6D;

}

.rectangle-extra-skill-2 {
    margin-left: 850px;
    margin-top: -368px;
    width: 250px;
    height: 365px;
    background: #C4C4C4;
}

.img-medal {
    padding-top: 20px;
    margin-left: 80px;
    width: 83px;
    height: 83px;
    left: 80px;
    top: 40px;
}

.text-medal {
    margin-left: 110px;
    width: 30px;
    height: 54px;
    left: 105px;
    top: 130px;
    font-size: 36px;
    line-height: 54px;
    color: #856D6D;

}

.text-medal-description {
    margin-left: 70px;
    width: 200px;
    height: 40px;
    left: 70px;
    top: 190px;
    font-size: 18px;
    line-height: 27px;
    color: #856D6D;

}

/* close extra skill */


/* Section contact */

.section-contact {
    width: 100%;
    margin-top: 240px;

}

.text-contact {

    width: 257px;
    height: 72px;
    left: 130px;
    top: 4735px;
    font-size: 40px;
    line-height: 72px;
    color: #856D6D;

}

.text-contact::after {
    content: "";
    display: block;
    width: 1000px;
    top: -100%;
    height: 2px;
    position: absolute;
    background-color: gray;
    left: 60px
}



.input-1 {
    width: 450px;
    background: transparent;
    border: none;
    border-bottom: 2px solid thistle;
    font-size: 20px;
    font-weight: 600px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: thistle;
    margin-left: 50px;
    margin-top: 20px;

}

.input-2 {
    width: 450px;
    background: transparent;
    border: none;
    border-bottom: 2px solid thistle;
    font-size: 20px;
    font-weight: 600px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: thistle;
    margin-left: 170px;



}

.input-3 {
    width: 1075px;
    background: transparent;
    border: none;
    border-bottom: 2px solid thistle;
    font-size: 20px;
    font-weight: 600px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: thistle;
    margin-left: 50px;
    margin-top: 30px;

}

.input-4 {
    width: 1075px;
    background: transparent;
    border: none;
    border-bottom: 2px solid thistle;
    font-size: 20px;
    font-weight: 600px;
    padding: 90px 0;
    transition: border 0.5s;
    outline: none;
    color: thistle;
    margin-left: 50px;
}

.btn-submit {
    margin-top: 30px;
    margin-left: 70%;
    width: 261px;
    height: 70px;
    padding: 30px;
    background-color: transparent;

    border: 1px solid #856D6D;
    box-sizing: border-box;
    border-radius: 10px;
}

.btn-text-submit {
    width: 209px;
    height: 36px;
    margin-left: -5px;
    margin-top: -15px;
    font-size: 24px;
    line-height: 36px;
    color: #856D6D;
}

.btn-submit:hover {
    background-color: thistle;
    border: none;
}

/* close section contact */


/* open footer */
.footer {
    width: 100%;
    height: 100px;
    background-color: gray;
    margin-top: 20px;
    padding-top: 10px;
}

.text-copyright {
    margin: 40px;
    margin-left: 350px;
    font-size: 20px;
    color: white;
}

/* close footer */